includes:
    - phpstan-baseline.neon

parameters:
    paths:
        - src
        - architect
        - app
    level: 5
    excludePaths:
        - vendor
        - cache
        - storage
        - tests
        - app/logs
        - architect/auth-system
        - architect/blueprint-forms
        - architect/blueprint-auth
        - architect/http-client
        - architect/queue
        - architect/Services/Session
        - architect/Services/Mail
    treatPhpDocTypesAsCertain: false
