parameters:
    paths:
        - src
        - architect
        - app
    level: 5
    excludePaths:
        - vendor
        - cache
        - storage
        - tests
        - app/logs
    treatPhpDocTypesAsCertain: false
